body {
  margin: 0;
  padding: 0;
}

#menu {
  width: 200px;
  height: 100vh;
  background-color: #6901c7; /* Alteração da cor para roxo */
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

li {
  margin-bottom: 10px;
}

li a {
  color: #fff;
  text-decoration: none;
}

.active {
  font-weight: bold;
  background-color: #fff; /* Alteração da cor para branco */
  color: #6901c7; /* Alteração da cor para preto */
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: 6901c7; /* Alteração da cor para roxo */
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #6901c7; /* Alteração da cor para roxo */
  color: #fff;
  border: none;
  cursor: pointer;
}

.atendentes-list {
  margin-top: 20px;
}

.atendente-item {
  margin-bottom: 10px;
}